# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist.zip
/tmp
/out-tsc
/.fusebox

# dependencies
/node_modules

# secret credentials files
manifest_creds_prod.json
manifest_creds_dev.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
